.rsvp {
    padding: 0 1rem 0 1rem;

    &__options {
        list-style: none;
        padding: 0;
    }

    &__radio {
        display: flex;
        align-items: center;
    }

    &__error {
        color: red;
    }
}
